@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

/* ==== Custom Blue Scrollbar (No Background) ==== */

/* Works for Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 6px;              /* thin scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #101c4d;  /* hide track background */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3B82F6; /* Tailwind blue-500 */
    border-radius: 9999px;     /* fully rounded */
  }
  
  /* Optional: subtle hover effect */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2563EB; /* blue-600 */
  }
  
  /* Works for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #3B82F6 transparent; /* thumb color + transparent track */
  }
  
  /* {--------service section hover slow change bg --------- }*/
.animated-gradient-border {
 
  position: relative;
  
  z-index: 0;
  overflow: hidden; 
  transition: all 0.5s ease; 
}

.animated-gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  background: linear-gradient(180deg, #F94A5B 0%, #6A4FFF 50%); 
  z-index: -1;
  opacity: 0; 
  transition: opacity 0.5s ease; 
}


.animated-gradient-border:hover::before {
  opacity: 1;
}


.animated-gradient-border {
  background-color: #0a0a0a; 
}

section {
  scroll-margin-top: 80px; /* Adjust to your header height */
}

.fi{
    filter: opacity(30);
}
h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;

}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}
.blue-glassmorphism {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  
  }
.justtify_content_center{
   justify-content: center; 
}
.bg{
    background: radial-gradient(92.05% 92.05% at 50% 32.11%, #35359F 0%, #33339A 0%, #232369 45.99%, #1D1D56 67.79%, #131339 100%);

}
  

@layer utilities{
    .max-screen {
        @apply px-7 lg:px-14 xl:px-0 md:max-w-7xl w-full  mx-auto;
      }
    .section_padding{
        @apply px-10 md:px-20 xl:px-0
    }
    .section_size {
        @apply max-w-xl md:max-w-5xl xl:max-w-7xl w-full mx-auto
    }
}

